/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
html {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

/* APP */
.app-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-image: linear-gradient(
        to bottom,
        #009688 0%,
        #009688 15vh,
        #dddbd1 15vh,
        #d2dbdc 100%
    );
}

/* CONTAINER */
.container {
    width: 80%;
    min-width: 870px;
    height: 90%;
    min-height: 450px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

/* SIDE BAR & CHAT HEADINGS */
.side-bar-heading,
.chat-heading {
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-bar-heading img,
.chat-heading img{
    width: 50px;
    border-radius: 50%;
    margin: .75rem;
}

.heading-left {
    display: flex;
    align-items: center;
}

.heading-right {
    padding-right: .75rem;
}

.heading-right i {
    transform: scale(1.2);
    margin: .5rem;
    color: #b1b1b1;
}

/* SIDE BAR */
.side-bar {
    width: 30%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid #d6d6d6;
}

.side-bar-notifications {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #8edafc;
}

.notifications-bell {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    margin-left: 1.25rem;
    margin-right: .75rem;
    color: #8edafc;
    background-color: #f2fbff;
}

.notifications-bell i {
    transform: scale(1.3);
}

.notifications-info p:last-child {
    font-size: .8rem;
    text-decoration: underline;
    color: #4f7485;
}

.side-bar-search {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.side-bar-search button {
    width: 75px;
    height: calc(100% - 15px);
    border: 1px solid #f5f5f5;
    border-right: none;
    background-color: white;
}

.side-bar-search button i {
    transform: scale(1.2);
    color: #b6b9bb;
}

.side-bar-search input {
    width: calc(100% - 15px - 75px);
    height: calc(100% - 15px);
    text-overflow: ellipsis;
    overflow: hidden;
    padding: .5rem;
    border: 1px solid #f5f5f5;
    background-color: white;
}

.side-bar-search input:focus {
    outline: none;
    border: 1px solid #009688;
}

.side-bar-content {
    height: calc(100% - (70px + 80px + 50px));
    min-height: 290px;
    overflow: scroll;
    background-color: white;
}

.side-bar-content img {
    width: 60px;
    border-radius: 50%;
}

.contact {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.contact-left {
    height: 60px;
    display: flex;
    align-items: center;
}

.contact-info p,
.contact-right {
    font-size: .8rem;
    color: #b6b9bb;
}

.contact-info {
    align-self: flex-start;
    margin-left: .75rem;
}

.contact-info p {
    margin-top: .25rem;
}

.contact-right {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: .25rem;
}


/* CHAT */
.chat {
    width: 70%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
}

.chat-content {
    height: calc(100% - (70px + 70px));
    min-height: 350px;
    overflow: scroll;
    background-image: url("../img/mine.jpg");
}

.messages-container {
    width: 85%;
    margin: 0 auto;
    padding-top: 3rem;
}

.message-block {
    width: 100%;
    display: flex;
    margin-bottom: .75rem;
}

.message {
    display: inline-block;
    min-width: 300px;
    max-width: 60%;
    border-radius: 10px;
    padding: .6rem;
}

.message p {
    word-wrap: break-word;
    margin: .2rem;
}

.message span {
    display: block;
    font-size: .7rem;
    text-align: right;
    color: #b6b9bb;
}

.sent {
    margin-left: auto;
    background-color: #d5f9ba;
}

.received {
    margin-right: auto;
    background-color: white;
}

.chat-input {
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f3eeea;
}

.chat-input input {
    width: 80%;
    height: 50px;
    padding: .75rem;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: white;
}

.chat-input input:focus {
    outline: none;
    border: 1px solid #009688;
}

.chat-input i {
    transform: scale(1.3);
    color: #6b7376;
}