/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
html {
    font-family: 'Lato', sans-serif;
}

/* BODY */
.bg-bar-top {
    width: 100%;
    height: 20vh;
    min-height: 100px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #009688;
}

.bg-bar-bottom {
    width: 100%;
    height: 80vh;
    min-height: 400px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #dadbd3;
}

/* MAIN */
.container {
    width: 80%;
    min-width: 850px;
    height: 90%;
    min-height: 450px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

/* SIDE BAR & CHAT HEADINGS */
.side-bar-heading,
.chat-heading {
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-bar-heading img,
.chat-heading img{
    width: 50px;
    border-radius: 50%;
    margin: .75rem;
}

.heading-left {
    display: flex;
    align-items: center;
}

.heading-right {
    padding-right: .75rem;
}

.heading-right i {
    transform: scale(1.1);
    margin: .4rem;
    color: #b1b1b1;
}

/* SIDE BAR */
.side-bar {
    width: 30%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid #d6d6d6;
}

.side-bar-notify {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #8edafc;
}

.notify-bell {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    margin-left: 1.25rem;
    margin-right: .5rem;
    color: #8edafc;
    background-color: #f2fbff;
}

.notify-bell i {
    transform: scale(1.2);
}

.notify-info p:last-child {
    font-size: .8rem;
    text-decoration: underline;
    color: #4f7485;
}

.side-bar-search {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.side-bar-search button {
    width: 75px;
    height: calc(100% - 15px);
    border: 1px solid #f5f5f5;
    border-right: none;
    background-color: white;
}

.side-bar-search button i {
    transform: scale(1.2);
    color: #b6b9bb;
}

.side-bar-search input {
    width: calc(100% - 15px - 75px);
    height: calc(100% - 15px);
    padding: .5rem;
    border: 1px solid #f5f5f5;
    background-color: white;
}

.side-bar-content {
    height: calc(100% - (50px + 50px + 30px));
    min-height: 320px;
}

/* CHAT */
.chat {
    width: 70%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
}

.chat-content {
    height: calc(100% - (50px + 50px));
    min-height: 350px;
    background-image: url("../img/mine.jpg");
}

.chat-input {
    height: 50px;
    background-color: #f3eeea;
    position: relative;
    right: 0;
    bottom: 0;
    z-index: 999;
}