<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTAWESOME -->
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" 
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
    />
    <!-- FONTS -->
    <link 
        href="https://fonts.googleapis.com/css2?family=Lato&display=swap" 
        rel="stylesheet"
    >
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="css/style.css">
    <!-- VUE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.global.min.js"></script>
    <!-- LUXON -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.0.3/build/global/luxon.min.js"></script>
    <title>Boolzapp</title>
</head>
<body>
    <!-- APP -->
    <div id="app" class="app-wrapper">
        <!-- CONTAINER -->
        <div class="container">
            <!-- LEFT BAR -->
            <div class="side-bar">
                <!-- SIDE BAR HEADING -->
                <div class="side-bar-heading">
                    <div class="heading-left">
                        <div class="heading-avatar">
                            <img src="img/avatar_io.jpg" alt="Sofia">
                        </div>
                        <div class="heading-info">
                            <span>Sofia</span>
                        </div>
                    </div>
                    <div class="heading-right">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- SIDE BAR NOTIFY -->
                <div class="side-bar-notifications">
                    <div class="notifications-bell">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="notifications-info">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <p>Attiva notifiche desktop</p>
                    </div>
                </div>
                <!-- SIDE BAR SEARCH -->
                <div class="side-bar-search">
                    <button
                        @click="search"
                    >
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <input 
                        type="text" 
                        placeholder="Cerca o inizia una nuova chat" 
                        v-model.trim="searchQuery"
                        @keyup="search"
                    >
                </div>
                <!-- SIDE BAR CONTENT -->
                <div class="side-bar-content">
                    <template v-for="(contact, index) in contacts">
                        <div 
                            class="contact" 
                            :class="{'active': activeContact === index}" 
                            v-if="contact.visible"
                            @click="setActiveContact(index)"
                        >
                            <div class="contact-left">
                                <div class="contact-avatar">
                                    <img :src="`img/avatar${contact.avatar}.jpg`" :alt="`${contact.name} avatar`">
                                </div>
                                <div class="contact-info">
                                    <span>{{contact.name}}</span>
                                    <p>{{contact.messages[getArrayLastPosition(contact.messages)].message}}</p>
                                </div>
                            </div>
                            <div class="contact-right">
                                <span>12:00</span>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <!-- CHAT -->
            <div class="chat">
                <!-- CHAT HEADING -->
                <div class="chat-heading">
                    <div class="heading-left">
                        <div class="heading-avatar">
                            <img :src="`img/avatar${contacts[activeContact].avatar}.jpg`" :alt="`${contacts[activeContact].name} avatar`">
                        </div>
                        <div class="heading-info">
                            <span>{{contacts[activeContact].name}}</span>
                            <p>Ultimo accesso oggi alle 12:00</p>
                        </div>
                    </div>
                    <div class="heading-right">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- CHAT CONTENT -->
                <div class="chat-content">
                    <div class="messages-container">
                        <div class="message-block" v-for="currentMessage in contacts[activeContact].messages">
                            <div class="message" :class="currentMessage.status">
                                <p>{{currentMessage.message}}</p>
                                <span>{{currentMessage.date}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CHAT INPUT -->
                <div class="chat-input">
                    <i class="fa-regular fa-face-smile"></i>
                    <input 
                        type="text" 
                        placeholder="Scrivi un messaggio"
                        v-model.trim="insertedMessage" 
                        @keyup.enter="sendMessage"
                    >
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>
        </div>
    </div>
    
    <script src="js/script.js"></script>
</body>
</html>